<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
  <a href="/lifelog" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw" aria-hidden="true"></i>삶의 기록
  </a>
</li>
<div class="author__content">
  <a href="/dev" rel="nofollow noopener noreferrer">
    <i class="fas fa-fw" aria-hidden="true"></i>개발 일기
  </a>
</div>